@charset 'utf-8';
@import url(reset.css);

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* 변수 */
:root{
  --txt-color: #222;
  --white: #fff;
  --Primary-color: #18257E;
  --sub-color: #279ADB;
  --medium-gray: #777;
  --light-gray: #DFDFDF;
  --container: 1350px;
  --font-base:16px;
  --line-base:27px;
}

/* LAYOUT */
.container{
  width: var(--container);
  margin: 0 auto;
}
.mt_2{
  margin-top:calc(var(--line-base) * 2);
}
.mb_1{
  margin-bottom:var(--line-base);
}
.mb_2{
  margin-bottom:calc(var(--line-base) * 2);
}
.mb_3{
  margin-bottom:calc(var(--line-base) * 3);
}
.py_1{
  padding-top: var(--line-base);
  padding-bottom: var(--line-base);
}
main section {
  padding: calc(var(--line-base) * 5) 0;
}
/* .hidden{
  position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    margin:-1px;
    clip:rect(0,0,0,0);
} */
.hidden{
    position: absolute;
    left: 0;
    top: -9999em;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* TYPOGRAPHY */
body{
  font:var(--font-base)/var(--line-base) Pretendard, sans-serif;
  font-weight: 400;
  color: var(--txt-color);
  position: relative;
}
.sec_tit{
  font-size: 44px;
  line-height: calc(var(--line-base) * 2);
  font-weight: 700;
  text-align: center;
}
.sec_sub_tit{
  font-size: 20px;
  line-height: var(--line-base);
  font-weight: 700;
  color: var(--Primary-color);
  text-align: center;
}

/*top_content*/

.top_nav{
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.top_nav header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .top_nav.sticky{
  padding: 32px 0;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: rgba(255,255,255,0.95);
  box-shadow:0 3px 5px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.05);
} */
 .top_nav.sticky{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: rgba(255,255,255.1);
  box-shadow:0 3px 5px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.05);
}
.top_nav.sticky header a{
  transform: scale(80%);
  color: var(--txt-color);
  font-size: 20px;
}
.top_nav .logo a{
  display: block;
  width: 232px;
  height: 36px;
  background:url(../images/logo.svg) no-repeat;
  text-indent: -9999em;
}
.top_nav nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.top_nav nav .main_menu{
  display: flex;
  align-items: center;
  gap: 60px;
}
.main_menu li{
  font-size: 20px;
  font-weight: 500;
}
.main_menu li a{
  color: var(--white);
}
.top_nav nav .sitemap{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sitemap li a{
  display: block;
  width: 28px;
  height: 28px;
}
.sitemap li.search_icon a{
  text-indent: -9999em;
  background: url(../images/top_search_icon_w.svg) no-repeat;
  position: relative;
}
.top_nav.sticky .sitemap li.search_icon a{
  text-indent: -9999em;
  background: none;
  position: relative;
}
.sitemap .search_icon.on a{
  text-indent: -9999em;
  background: none;
}
.sitemap .search_icon a::before{
  content: '';
  display: block;
  position: absolute;
  background: var(--txt-color);
  transform: rotate(45deg);
  left: -1px;
  top: 13px;
  width: 120%;
  height: 2px;
  display: none;
}
.sitemap .search_icon a::after{
  content: '';
  display: block;
  position: absolute;
  background: var(--txt-color);
  transform: rotate(-45deg);
  left: -1px;
  top: 13px;
  width: 120%;
  height: 2px;
  display: none;
}
.top_nav.sticky header .search_icon a{
  background: url(../images/top_search_icon_b.svg) no-repeat;
}
/* .search_icon .search_close_icon{
  position: absolute;
  top: 0;
  left: 0;
} */
.sitemap li.search_icon::after{
  content: '';
  width: 28px;
  border-top: 1px solid #333;
}
.sitemap li.sitemap_icon a{
  text-indent: -9999em;
  background: url(../images/top_sitemap.svg) no-repeat;
}

.top_nav .form_wrapper{
  position: absolute;
  top: 100px;
  left: 0; right: 0;
  padding: 50px 0 100px 0;
  background: var(--white);
  text-align: center;
  z-index: 2;
  display: none;
}

.top_nav.on .form_wrapper{
  display: block;
}
.top_nav form input{
  width: 600px;
  height: 38px;
  border-bottom: 2px solid var(--txt-color);
  padding: 12px;
  font-size: 26px;
  outline: none;
}
.top_nav form input:focus{
  border-bottom: 2px solid var(--sub-color);
}
.top_nav form input::placeholder{
  color: var(--light-gray);
}
.top_nav form button{
  background: url(../images/top_search_icon_b.svg) no-repeat 0 bottom / 100% 100%;
  width: 38px;
  height: 38px;
  text-indent: -9999em;
  cursor: pointer;
}
.form_dim{
  display: none;
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 1;
}
/* banner */
.banner{
  position: relative;
}
.banner .banner_content li{
  display: none;
  position:relative
}

.banner .banner_content li.active{
  display: block;
} 
/* 
.banner .overlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(34,34,34,.6);
} */
.banner .banner_content li.slide1::before{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(34,34,34,.6);
}
.banner .container{
  position: relative;
} 
.banner .banner_desc{
  position: absolute;
  top: 240px;
  left: 0;
  color: var(--white);
}
.banner_desc h3{
  font-size: 38px;
  font-weight: 500;
}
.banner_desc h2{
  font-size: 52px;
  font-weight: 700;
  width: 640px;
  line-height: 62px;
}
.banner_desc p{
  font-size: 24px;
  font-weight: 500;
}
.banner_desc .banner_btn{
  display: flex;
  align-items: center;
}
.banner_desc .banner_btn .more{
  width: 178px;
  height: 60px;
  border: solid 2px var(--white);
  border-radius: 30px;
  color: var(--white);
  line-height: 60px;
  text-align: center;
  font-weight: 600;
}
.banner_desc .banner_btn .icon{
  width: 60px;
  height: 60px;
  background: var(--sub-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.banner_desc .banner_btn .icon span{
  transform: rotate(45deg);
}

.banner .banner_content img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.banner .banner_pager{
  position: absolute;
  left: 0; right: 0;
  display: flex;
  justify-content: center;
  bottom: 85px;
  gap: 2px;
}

.banner_pager a{
  width: 80px;
  height: 6px;
  text-indent: -9999em;
  background: rgba(255,255,255,.5);
}
.banner_pager a.active{
  background: var(--sub-color);
}


/* solution */
.accordion_list{
  display: flex;
  gap: 1px;
}
.inner_box{
  display: none;
}
.accordion_list li{
  flex:1;
  transition: flex 0.5s;
  height: 594px;
  width: 58px;
  background: #F3F4F9;
}
.accordion_list .accordian_tit_box{
  position: relative;
}
.accordion_list .accordian_tit_box .inner_box{
  position: absolute;
  width: 100%;
  padding: 450px 0 0 60px;
  box-sizing: border-box;
}
.accordion_list .accordian_tit_box .inner_box h4{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}
.accordion_list .accordian_tit_box .list_tit{
  font-size: 22px;
  font-weight: 500;
  writing-mode: vertical-rl;
  margin: 30px auto;
}
.accordion_list li:hover,
.accordion_list li.active{
  flex:10;
}
.accordion_list li.active .list_tit{
  display: none;
}
.accordion_list li.active .inner_box{
  display: block;
  color: var(--white);
  height: 594px;
}
.accordion_list li:nth-child(1) .inner_box{
  background: url(../images/solution_img1.jpg) no-repeat center/cover;
}
.accordion_list li:nth-child(2) .inner_box{
  background: url(../images/solution_img1.jpg) no-repeat center/cover;
}
.accordion_list li:nth-child(3) .inner_box{
  background: url(../images/solution_img1.jpg) no-repeat center/cover;
}
.accordion_list li:nth-child(4) .inner_box{
  background: url(../images/solution_img1.jpg) no-repeat center/cover;
}

/* business */
.business ul{
  display: flex;
  justify-content: center;
  gap: 65px;
}
.business ul li{
  position: relative;
  width: 460px;
}
.business ul li a{
  position: absolute; 
  right: 0;
  top: 244px;
  width: 80px;
  height: 80px;
  background: var(--sub-color);
  text-align: center;
  line-height: 80px;
  color: var(--white);
  transition: .3s;
  opacity: .8;
}

/* .business ul li::before{
  content: '';
  position: absolute;
  top: 0; left: 0; 
  width: 460px;
  height: 324px;
  background: rgba(34,34,34,.6);
  opacity: 0;
  transition: .3s;
} */
.business ul li .business_img_wrapper {
  overflow: hidden;
  width: 460px;
  height: 324px;
}

.business ul li:hover img{
  transition: transform 0.3s;
}
.business ul li:hover img{
  transform: scale(105%);
}
/* .business ul li:hover::before{
  opacity: 1;
} */
.business ul li:hover a{
  top: 264px;
  right: -20px;
  border-radius: 0 0 20px 0;
  opacity: 1;
}

.business ul li h4{
  margin-top:calc(var(--line-base) * 2);
  font-size: var(--line-base);
  font-weight: 700;
}
.business ul li p{
  margin-top: 20px;
  color: var(--medium-gray);
}

/* performance */
.performance ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.performance ul li{
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--light-gray);
  box-sizing: border-box;
  color: var(--Primary-color);
}
.performance ul li:last-child{
  border-right: none;
}
.performance span{
  font-size: 58px;
}
.performance p{
  font-size: 50px;
  font-weight: 600;
  line-height: calc(var(--line-base)*2);
}
.performance h4{
  color: var(--medium-gray);
  font-size: 18px;
}
/* customer_support */

.customer_support{
  background: url(../images/customer_support_bg.jpg) center center/cover;
  color: var(--white);
}
.customer_support .sec_tit{
  text-align: left;
}
.customer_support .container{
  display: flex;
  justify-content: space-between;
}
.customer_support .cs_desc{
  width: 480px;
  font-size: 19px;
}
.customer_support .cs_icon ul{
  display: flex;
  justify-content: space-between;
  gap: 58px;
}
.customer_support .cs_icon li{
  width: 180px;
  background: rgba(34,34,34,.5);
  border-radius: 8px;
  padding-top: 55px;
  padding-bottom: 45px;
}
.customer_support .cs_icon a{
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer_support .cs_icon span{
  font-size: 36px;
  padding-bottom: 10px;
}
.customer_support .cs_icon p{
  font-size: 18px;
}
/* partners */
.partners{
  overflow: hidden;
  width: 100vw;
  padding: calc(var(--line-base) * 3) 0;
}
.partners_list{
  display: flex;
  left: 0;
  justify-content: left;
  align-items: center;
  position: relative;
}
.partners_list a{
  width: 285px;
  height: calc(var(--line-base) ) * 2;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.partners_list::before, .partners_list::after{
  content: '';
  width: 150px;
  height: 102px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0) 100%);
  position: absolute;
}
.partners_list::before{
  top: 0;
  left: 0;
}     
.partners_list::after{
  top: 0;
  right: 0;  background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0) 100%);

}
.partners_list img{
  width: 140px;
}     
/* footer */
footer{
  border-top: 1px solid var(--light-gray);
  padding: calc(var(--line-base) * 3) 0;
  box-sizing: border-box;
  font-size: 18px;
}
footer h2 img{
  width: 190px;
  object-fit: cover;
}
footer strong{
  font-size: 22px;
  font-weight: 600;
  line-height: calc(var(--line-base)*2);
}
.footer_wrapper{
  display: flex;
  justify-content: space-between;
}
/* .footer_desc{
  width: 560px;
} */
.footer_desc p{
  font-weight: 600;
  margin-top: 8px;
}
.footer_desc span, .footer_desc a{
  color: var(--medium-gray);
  font-weight: 400;
  margin-left: 10px;
  margin-right: 28px;
}
.footer_list{
  display: flex;
  /* width: 408px; */
  gap: 20px;
  font-weight: 600;
}

.back_to_top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(24, 37, 126, .9);
  color: var(--white);
 }